<div class="container">
<div class="row">

<div class="span-4">
<h1>かとりょーは何者？</h1>
<%= link_to 'はてなプロフィール', 'http://www.hatena.ne.jp/katryo/', :target => '_blank', :class => 'btn btn-large', :class => 'btn btn-large btn-info' %><br><br>
<%= link_to 'ブログ', 'http://katryo.hatenablog.com/', :target => '_blank', :class => 'btn btn-large btn-info' %><br><br>
<%= link_to '技術ブログ', 'http://d.hatena.ne.jp/katryo/', :target => '_blank' , :class => 'btn btn-large btn-info' %><br><br>
<%= link_to 'Twitter', 'http://twitter.com/#/katryo', :target => '_blank', :class => 'btn btn-large btn-info' %><br>

</div>
<div class="span-4">
<h1>かとりょーが作ったもの</h1>
<%= link_to 'にせほボタン', 'http://nisehobutton.heroku.com', :target => '_blank', :class => 'btn btn-large btn-info' %><br><br>

<%= link_to 'ひがしのてらこや。公式サイト', 'http://higashinoterakoya.herokuapp.com', :target => '_blank', :class => 'btn btn-large btn-info' %><br><br>
<%= link_to 'ノベルゲーム「アナテマ・フィジクス」', 'http://easternretroschool.web.fc2.com/apindex.html', :target => '_blank', :class => 'btn btn-large btn-info' %><br><br>
</div>
</div>
</div>
