<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
      <span class="icon-bar"></span>
      <a class="brand" href="/">かとりょーについて</a>
    </div>
  </div>
</div>
<div class="container">

<div id="slider">
     <img src="http://dl.dropbox.com/u/17538030/rain2_icon.jpg" alt="" width="2000px" />
     <img src="http://dl.dropbox.com/u/17538030/seat_icon.jpg" alt="" width="2000px" />
</div>


    <div class="flexslider">
<ul class="slides">
<li>
<img src="http://dl.dropbox.com/u/17538030/043_paper_texturedstationary.jpg" />
<p class="flex-caption">キャプション</p>
</li>
<li>
<img src="http://dl.dropbox.com/u/17538030/632_stone_blackpavement.jpg" />
<p class="flex-caption">キャプション</p>
</li>
<!-- 以下、画像分 -->
</ul>
</div>

<img src="http://dl.dropbox.com/u/17538030/shot2_icon.jpg" id="water" style="display: none;" />
    <script><!--
function sample() {
window.alert("警告ダイアログの使用例です。\n改行しました。\n\t改行して、さらにタブで字下げしました。");
}
    //--></script>



<a onclick="sample()">ここをクリックすると警告ダイアログが開きます。</a>


  <div class="row">
    <div class="span12"> 
      <img src="http://farm6.staticflickr.com/5342/6952671228_8e1abcafb7_b.jpg">
    </div>
  </div>

  <br>
  <br>
  <div class="row">
    <div class="span4">
      <h2>書いてきたもの</h2>
      <p>
      <br>
      <%= link_to 'はてなプロフィール', 'http://www.hatena.ne.jp/katryo/', :target => '_blank', :class => 'btn btn-large btn-info' %><br><br>
      <%= link_to 'ブログ', 'http://katryo.hatenablog.com/', :target => '_blank', :class => 'btn btn-large btn-info' %><br><br>
      <%= link_to '技術ブログ', 'http://d.hatena.ne.jp/katryo/', :target => '_blank' , :class => 'btn btn-large btn-info' %><br><br>
      <a>aaaaa</a>
      </p>
    </div>
    <div class="span4">
        <h2>作ってきたもの</h2>
        <br>
      <%= link_to 'にせほボタン', 'http://nisehobutton.heroku.com', :target => '_blank', :class => 'btn btn-large btn-info' %><br><br>
      <%= link_to 'ひがしのてらこや。公式サイト', 'http://higashinoterakoya.herokuapp.com', :target => '_blank', :class => 'btn btn-large btn-info' %><br><br>
      <%= link_to 'ノベルゲーム「アナテマ・フィジクス」', 'http://easternretroschool.web.fc2.com/apindex.html', :target => '_blank', :class => 'btn btn-large btn-info' %><br><br>
      <%= link_to 'katryogift〜かとりょー支援プラットフォーム〜', 'http://katryo.herokuapp.com/katryogift/index', :target => '_blank', :class => 'btn btn-large btn-info' %><br><br>
      <%= link_to 'github', 'https://github.com/katryo', :target => '_blank', :class => 'btn btn-large btn-info' %><br><br>
    </div>
    <div class="span4">
        <h2>趣味</h2>
        <br>
        <%= link_to 'Twitter', 'http://twitter.com/#/katryo', :target => '_blank', :class => 'btn btn-large btn-info' %><br><br>
      <%= link_to 'はてなブックマーク', 'http://nisehobutton.heroku.com', :target => '_blank', :class => 'btn btn-large btn-info' %><br><br>
      <%= link_to 'Pinterest', 'http://higashinoterakoya.herokuapp.com', :target => '_blank', :class => 'btn btn-large btn-info' %><br><br>
      <%= link_to 'Tumblr', 'http://easternretroschool.web.fc2.com/apindex.html', :target => '_blank', :class => 'btn btn-large btn-info' %><br><br>
    </div>
  </div>
</div>
